body{
  background: darkcyan;
  display:block;
}
.big-container{
  background: url('Wall.jpg');
  background-size:100%;
  width:350px;
  height:520px;
  border-radius:30px;
  padding: 8px;

}
span {
  color: white;
  background: cyan;
}
.grid-container {
  position:relative;
  left:8px;
  width:98%;
  height:70%;

  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "1 one"
  "2 two"
  "3 three"
  ;
  grid-auto-flow: row;
  grid-gap: 7px;
}
.card-1{
  width:150px;
  height:30px;
  border-radius:9px;
  border: 1px solid cyan;
  display:flex;
  justify-content: center;
  align-items: center;
}
