:root{
    --1st-color: #021b2c;
    --second-color: #f7eee7ec;
    --third-color: #fffb00;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--1st-color);
    text-align: center;
    color: var(--second-color);
}
h1:nth-child(1){
    margin-top: 1.3em;
    animation-name: word-spacing-color;
    animation-duration: 5s;
    animation-timing-function: ease-in;        animation-iteration-count: infinite;
}
.rule-container{
    padding:5vh;
    background-color: var(--second-color);
    width:100vh;
    margin-left: 57vh;
    margin-top: 7vh;
    border:0.8rem solid var(--third-color);
    border-radius: 5vh;
    text-align: center;
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    height: 17vh;
    overflow-y: hidden;
    cursor: pointer;
}
img{
    transition: transform 0.5s;
}
.rule-container:hover img{
    transform: rotate(90deg);
}
.rule-container:hover{
    height: 50vh;
}
@keyframes word-spacing-color {
        0%{color: white;}
        25%{word-spacing: 1rem;color: aqua;}
        50%{word-spacing: 2rem;color: red;}
        75%{word-spacing: 3rem;color: rebeccapurple;}
        100%{word-spacing: 4rem;color: gold}
    }
.score-container{
    padding:4vh;
    width: 100vh;
    margin-left: 57vh;
    color:var(--second-color);
    font-size: 4vh;
    font-weight: bolder;
}
.box-options{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.6rem;

}
.option-button{
    padding:3vh;
    font-weight: bolder;
    background-color: var(--third-color);
    border:7px ridge var(--third-color);
    cursor: pointer;
}